<footer>
  <div class="wrap">
    <div class="foot-top">
      <div>{{ site.name }}</div>
      <div>{{ site.location }} &nbsp;&middot;&nbsp; <a href="{{ site.url }}">uoalegal.com</a></div>
    </div>
    <div class="disclaimer">
      {{ site.disclaimer }}
      <div class="tagline">{{ site.tagline }}</div>
    </div>
  </div>
</footer>
